<%- include("inc/header.ejs");%>
<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
<section id='content'>
	<div class='container-fluid'>
		<div class='row-fluid' id='content-wrapper'>
			<div class='span12'>
				<div class='page-header'>
					<h1 class="pull-left">
						<span>购买广告&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</h1>
				</div>

				<div class="span12">
					<span>您选择的广告位：</span><span class="adInfo">绍兴站——PC端——首页幻灯片广告位</span> <br> <br>
					<span>选择购买时间段：</span>
					<div class="adPrice">
						<input type="radio" name="time">1周（￥1000）
						<input type="radio" name="time">1月（￥3000）
						<input type="radio" name="time">1年（￥30000）
					</div>

					<br> <br>
					<span>请选择开始时间：</span>
					<div class="form-group">
						<!--<label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>-->
						<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input class="form-control" size="16" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
						<input type="hidden" id="dtp_input2" value="" /><br/>
					</div>
					<span>广告图片：</span>
					<div class='box-content'>
						<form action='http://192.168.20.61:8000/news-service/platform/news/image/upload' enctype='multipart/form-data' id='fileupload' method='POST' />
						<img id="xmTanImg"/> <br>
						<input type="file" name="file" onchange="xmTanUploadImg(this)">
						</form>
						<button class="btn btn-primary" id="imgUpload" onclick="submitBtn()">上传图片</button>
					</div>
					<br> <br>
					<span>广告链接地址：</span> <input type="url" name="">
					<br> <br>
					<button class="btn" onclick="submit()">确认提交，去支付</button>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="ad-pay-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">购买广告</h2>
      </div>
      <div class="modal-body">
        <b>您选择的广告位:</b> <div class="adInfo" style="display: inline-block;"></div>
        <br> <br>
        <b>您需要支付：</b> <span class="red">￥1000</span>
        <br> <br>
        <b>选择支付方式：</b> <input type="radio" name="pay-way"> 支付宝
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认支付</button>
      </div>
    </div>
  </div>
</div>

<script src="script/jquery.form.js"></script>
<script src="script/bootstrap-datetimepicker.min.js"></script>
<script src="script/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="script/ad-buy.js"></script>
<%- include("inc/footer.ejs");%>