<%- include("inc/header.ejs");%>

<section id='content'>
	<div class='container-fluid'>
		<div class='row-fluid' id='content-wrapper'>
			<div class='span12'>
				<div class='page-header'>
					<h1 class="pull-left">
						<span>头条栏目管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</h1>
				</div>
					
				<div class="span12">
					<span>父 分 类：</span>
					<select class="pid-column">
						<option value="顶级分类">顶级分类</option>
						<option value="土方建设">土方建设</option>
					</select>
					<span>栏目名称：</span> 
					<input type="text" class="column-name">
					<button class="btn" onclick="add()">创建</button>
				</div>
				<br> <br>
				<table id="column-list"></table>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title">编辑栏目</h2>
			</div>
			<div class="modal-body" style="text-align: center">
				<span>父栏目:</span>
				<select name="" id="" class="pid-column-modal">

				</select> <br> <br>
				<span>名称：</span>
				<input type="text" class="column-name-modal"> <br> <br>
				<span>排序：</span>
				<input type="number" class="column-sequence-modal">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="edit-save">确定</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="script/column.js"></script>
<%- include("inc/footer.ejs");%>