<%- include("inc/header.ejs");%>

<section id='content'>
	<div class='container-fluid'>
		<div class='row-fluid' id='content-wrapper'>
			<div class='span12'>
				<div class='page-header'>
					<h1 class="pull-left">
						<span>评论管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</h1>
				</div>
				<div class='btn-group span12'>
					<a href="#" class="btn btn-white " onclick="verify(0)">审核</a>
					<a href="#" class="btn btn-white " onclick="verify(1)">取消审核</a>
					<a href="#" class="btn btn-white " onclick="del()">删除</a>
				</div>
				<br> <br> <br>
				<table id="comment-list"></table>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="script/comment.js"></script>
<%- include("inc/footer.ejs");%>