<%- include("inc/header.ejs");%>

<script src="script/ckeditor.js"></script>
<script src="script/sample.js"></script>
<section id='content'>
	<div class='container-fluid'>
		<div class='row-fluid' id='content-wrapper'>
			<div class='span12'>
				<div class='page-header'>
					<h1 class="pull-left">
						<span>政府招标信息管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</h1>
				</div>

				<div class='span12'>
				    <a href="#" class="link active">未审核信息</a>
				    <a href="#" class="link">全部信息</a>
				    <a href="#" class="link ">推荐信息</a>
				    <a href="#" class="link ">置顶信息</a>
				</div>
				<br><br>

				<div class="span12">
					<span>站点：</span> 
					<select id="province" onclick="getCityList()">
						<option value="浙江省">浙江</option>
						<option value="浙江省">江苏</option>
						<option value="浙江省">福建</option>
					</select>
					<select id="city">
						<option value="">全部</option>
					</select>
					&nbsp;&nbsp;&nbsp;
					<span>所属栏目：</span>
					<select id="subject">
						<option value="" >全部</option>
					</select>
					&nbsp;&nbsp;&nbsp;
					<span>关键字：</span>
					<input type="text" name="" id="keywords">
					&nbsp;&nbsp;&nbsp;
					<button class="btn" onclick="search()">搜索</button>
				</div>
				<br> <br><br>
				<div class='btn-group span12'>
				    <a href="#" class="btn btn-white" onclick="verify()">审核</a>
				    <a href="#" class="btn btn-white " onclick="recommend()">推荐</a>
				    <a href="#" class="btn btn-white " onclick="toTop()">置顶</a>
				    <a href="#" class="btn btn-white " onclick="del()">删除</a>
				</div>
				<br> <br>
				<div class="span12 table-block">
					<table id="gov-list"></table>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="time-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title" id="myModalLabel">信息置顶</h2>
			</div>
			<div class="modal-body" style="text-align: center">
				截止日期： <input type="datetime-local" name="time" >
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  style="display: none;width: 850px;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title" id="myModalLabel">新闻编辑</h2>
			</div>
			<div class="modal-body">

				<span>选择栏目: </span><select name="" id="edit-subject" onselect="getSubjectModal()"></select> &nbsp;&nbsp; <select name="" id="edit-subject2"></select> <br> <br>
				<span>所属站点：</span><select name="" id="edit-province" onselect="getCityList()"></select> &nbsp;&nbsp; <select name="" id="edit-city"></select> <br> <br>
				<span>标题：</span> <input type="text" id="edit-title"> <br> <br>
				<span>内容：</span><div id="editor" style="display: inline-block"></div>
				<br> <br>
				<span>来源：</span> <input type="text" id="edit-sourceSite"> <br> <br>
				<span>关键字：</span><input type="text" id="edit-keywords">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" onclick="edit_sit()">确定</button>
			</div>
		</div>
	</div>
</div>
<script>
    //    var $modalElement = this.$element;
    //    $(document).on('focusin.modal', function (e) {
    //        var $parent = $(e.target.parentNode);
    //        if ($modalElement[0] !== e.target && !$modalElement.has(e.target).length
    //            // add whatever conditions you need here:
    //            &&
    //            !$parent.hasClass('cke_dialog_ui_input_select') && !$parent.hasClass('cke_dialog_ui_input_text')) {
    //            $modalElement.focus()
    //        }
    //    })
    initSample();

</script>

<script type="text/javascript" src="script/gov.js"></script>
<%- include("inc/footer.ejs");%>