<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>筑脸网</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="index">
			<header class="bar bar-nav">
				<button class="button button-link button-nav pull-left">嘉兴</button>
				<div class="searchbar">
    				<div class="search-input">
      					<label class="icon icon-search" for="search"></label>
      					<input type="search" id='search' placeholder='输入关键字...'/>
    				</div>
  				</div>
  				<a class="button button-link button-nav pull-right" href="#login">登录</a>
			</header>
			<nav class="bar bar-tab">
				<a class="tab-item active" href="#index">
					<span class="fa fa-home"></span>
					<span class="tab-label">筑脸头条</span>
				</a>
				<a class="tab-item" href="#goverment">
					<span class="fa fa-legal"></span>
					<span class="tab-label">政府招标</span>
				</a>
				<a class="tab-item" href="#user">
					<span class="fa fa-user"></span>
					<span class="tab-label">会员中心</span>
				</a>
			</nav>
			<div class="content">
				<div class="swiper-container" id="swiper-index">
					<div class="swiper-wrapper buttons-tab">
						<a href="#tab1" class="tab-link active button swiper-slide">11</a>
						<a class="tab-link button swiper-slide" href="#tab2">2222</a>
						<a class="tab-link button swiper-slide" href="#tab3">333</a>
					</div>
				</div>
				<a class="more-icon" href="#column">
					<span class="fa fa-plus"></span>
				</a>
				<div class="">
					<div class="tabs">
						<div class="tab active" id="tab1">
							<div class="content-block index">
								<div class="list-block media-list">
									<ul>
										<li>
											<a class="item-link item-content" href="#index-detail">
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">中国建的这些桥，让世界侧目</div>
													</div>
													<div class="item-content-row">
														<div class="types">亿建联</div>
														<div class="time">08-30</div>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="item-media"><img src="img/11.jpg" style='width: 5rem;'></div>
											</a>
										</li>
										<li>
											<a class="item-link item-content">
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">11111111111111111111</div>
													</div>
													<div class="item-content-row">
														<div class="types">亿建联</div>
														<div class="time">08:30</div>
													</div>
												</div>
												<div class="item-media"><img src="img/11.jpg" style='width: 5rem;'></div>
											</a>
										</li>
										<li>
											<a class="item-link item-content">
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">标题</div>
													</div>
													<div class="item-content-row">
														<div class="types">亿建联</div>
														<div class="time">08:30</div>
													</div>
												</div>
												<div class="item-media"><img src="img/11.jpg" style='width: 5rem;'></div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab" id="tab2">
							<div class="content-block">
								<p>tab 2</p>
							</div>
						</div>
						<div class="tab" id="tab3">
							<div class="content-block">
								<p>tab 3</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page" id="index-detail">
			<header class="bar bar-nav">
				<a class="icon icon-left pull-left back"></a>
				<h1 class="title">标题标题标题标题标题标题</h1>
			</header>
			<nav class="bar bar-tab detail-bar">
				<div class="searchbar">
				    <div class="search-input">
				      <input type="search" placeholder='写评论...'/>
				    </div>
				</div>
				<i class="fa fa-share-square-o"></i>
				<i class="fa fa-star-o"></i>
			</nav>
			<div class="content padding">
				<h3 class="detail-title">标题标题标题标题</h3>
				<div class="info">
					<span >新华社</span>
					<span >1小时前发布</span>
					<span >400人浏览</span>
				</div>
				<p>内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容</p>
				<img src="img/11.jpg" width="100%">
				<p>内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容</p>
				<p>内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容内容内容内容内容呢哦荣内容</p>
				<div class="sui-label">标签</div>&nbsp;&nbsp;<div class="sui-label">标签</div>&nbsp;&nbsp;<div class="sui-label">标签</div>
				<br>
				<div class="comment">
					<span>评论(120)</span>
					<span class="like">
						<i class="fa fa-heart-o"></i>&nbsp;2
					</span>
				</div>
				<ul id="comments_list">
    				<li class="comments">
    					<div class="com_top">
       						<span class="photo">
          						<img src="img/b4.jpg">
       						</span>
       						<span class="name">风起</span>
   		 				</div>
    					<div class="com_content">
       						假如我们一路有默契，那时光再长又有什么关系。我喜欢有感觉的文字。写的现实而温暖。带上你的耳机闭上眼睛来静静聆听这篇《就让我们，晚点在一起。然后一辈子。》
    					</div>
    					<div class="com_bottom">
       						<span class="time">2017-04-18</span>
       						<span class="useful">
          						回复
       						</span>
    					</div>
    				</li>
 				</ul>
			</div>
		</div>
		<div class="page" id="register">
			<header class="bar bar-nav">
				<a class="icon icon-left pull-left back"></a>
				<h1 class="title">注册</h1>
			</header>
			<div class="content">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"> <i class="fa fa-user"></i></div>
								<div class="item-inner"> <div class="item-input"> <input type="text" placeholder="用户名(仅限字母和数字)"></div></div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"> <i class="fa fa-phone"></i></div>
								<div class="item-inner"> <div class="item-input"> <input type="text" placeholder="手机号"></div></div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"> <a class="button button-danger button-fill" onclick="getvercode()">获取验证码</a></div>
								<div class="item-inner"> <div class="item-input"> <input type="text" placeholder="验证码"></div></div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"> <i class="fa fa-lock"></i></div>
								<div class="item-inner"> <div class="item-input"> <input type="password" placeholder="设置密码"></div></div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"> <i class="fa fa-lock"></i></div>
								<div class="item-inner"> <div class="item-input"> <input type="password" placeholder="确认密码"></div></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-100"> <a class="button button-danger button-fill" onclick="register(this)">注册</a></div>	
					</div>
				</div>
			</div>
		</div>
		<div class="page" id="login">
			<header class="bar bar-nav">
				<a class="icon icon-left pull-left back"></a>
				<a class="button button-link button-nav pull-right" href="#register">注册</a>
				<h1 class="title">登录</h1>
			</header>
			<div class="content">
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"> <i class="fa fa-user"></i></div>
								<div class="item-inner"> <div class="item-input"> <input type="text" placeholder="用户名"></div></div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"> <i class="fa fa-lock"></i></div>
								<div class="item-inner"> <div class="item-input"> <input type="password" placeholder="密码"></div></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-100"> <a class="button button-danger button-fill" onclick="login()">登录</a></div>	
					</div>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-95">
							<a class="pull-right">忘记密码?</a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="content-block">
					<p>其他登录方式</p>
					<div class="content-padded grid-demo">
						<div class="row">
							<div class="col-33"><a class="button-icon"><i class="fa fa-qq"></i> QQ登录</a></div>
							<div class="col-33"><a class="button-icon"><i class="fa fa-weibo"></i> 新浪微博</a></div>
							<div class="col-33"><a class="button-icon"><i class="fa fa-weixin"></i> 微信登录</a></div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page" id="column">
			<header class="bar bar-nav">
				<a class="icon icon-left pull-left back"></a>
				<h1 class="title">全部频道</h1>
				<a class="button button-link button-nav pull-right">排序</a>
			</header>
			<div class="content">
				<ul id="bar" class="column-block row">
					<li class="col-25" data-id="1">本地</li>
					<li class="col-25" data-id="2">筑脸号</li>
					<li class="col-25" data-id="3">政策法规</li>
					<li class="col-25" data-id="4">施工</li>
					<li class="col-25" data-id="5">装饰</li>
					<li class="col-25" data-id="6">设计</li>
					<li class="col-25" data-id="7">绿化</li>
					<li class="col-25" data-id="8">市政路桥</li>
					<li class="col-25" data-id="9">装配式建筑</li>
				</ul>
			</div>
		</div>
		<div class="page" id="goverment">
			<header class="bar bar-nav">
				<button class="button button-link button-nav pull-left">嘉兴</button>
				<div class="searchbar">
    				<div class="search-input">
      					<label class="icon icon-search" for="search"></label>
      					<input type="search" id='search' placeholder='输入关键字...'/>
    				</div>
  				</div>
  				<a class="button button-link button-nav pull-right" href="#login">登录</a>
			</header>
			<nav class="bar bar-tab">
				<a class="tab-item" href="#index">
					<span class="fa fa-home"></span>
					<span class="tab-label">筑脸头条</span>
				</a>
				<a class="tab-item active" href="#goverment">
					<span class="fa fa-legal"></span>
					<span class="tab-label">政府招标</span>
				</a>
				<a class="tab-item" href="#user">
					<span class="fa fa-user"></span>
					<span class="tab-label">会员中心</span>
				</a>
			</nav>
			<div class="content">
				<div class="swiper-container" id="swiper-gov">
					<div class="swiper-wrapper buttons-tab">
						<a href="#gov-tab1" class="tab-link active button swiper-slide">11</a>
						<a class="tab-link button swiper-slide" href="#gov-tab2">2222</a>
						<a class="tab-link button swiper-slide" href="#gov-tab3">333</a>
					</div>
				</div>
				<div class="tabs">
					<div class="tab active" id="gov-tab1">
						<div class="content-block">
							<div class="buttons-row">
						      	<a href="#gov-tab1-tab1" class="tab-link active button">招投标公告</a>
						      	<a href="#gov-tab1-tab2" class="tab-link button">中标公示</a>
						      	<a href="#gov-tab1-tab3" class="tab-link button">中标结果</a>
						    </div>
						</div>
						<div class="tabs">
						    <div id="gov-tab1-tab1" class="tab active">
						      	<div class="content-block goverment">
						        	<div class="list-block media-list">
										<ul>
											<li>
												<a class="item-link item-content" href="#index-detail">
													<div class="item-inner">
														<div class="item-title-row">
															<div class="item-title">中国建的这些桥，让世界侧目</div>
														</div>
														<div class="item-content-row">
															<div class="types">亿建联</div>
															<div class="time">08-30</div>
															<div class="clearfix"></div>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="item-link item-content" href="#index-detail">
													<div class="item-inner">
														<div class="item-title-row">
															<div class="item-title">中国建的这些桥，让世界侧目</div>
														</div>
														<div class="item-content-row">
															<div class="types">亿建联</div>
															<div class="time">08-30</div>
															<div class="clearfix"></div>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="item-link item-content" href="#index-detail">
													<div class="item-inner">
														<div class="item-title-row">
															<div class="item-title">中国建的这些桥，让世界侧目</div>
														</div>
														<div class="item-content-row">
															<div class="types">亿建联</div>
															<div class="time">08-30</div>
															<div class="clearfix"></div>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
						      	</div>
						    </div>
						    <div id="gov-tab1-tab2" class="tab">
						      	<div class="content-block">
						        	<p>This is tab 2 content</p>
						      	</div>
						    </div>
						    <div id="gov-tab1-tab3" class="tab">
						      	<div class="content-block">
						        	<p>This is tab 3 content</p>
						      	</div>
						    </div>
						</div>    
					</div>
					<div class="tab" id="gov-tab2">
						<div class="content-block">
						</div>
					</div>
					<div class="tab" id="gov-tab3">
						<div class="content-block">
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="page" id="user">
			<header class="bar bar-nav">
				<button class="button button-link button-nav pull-left">嘉兴</button>
				<div class="searchbar">
    				<div class="search-input">
      					<label class="icon icon-search" for="search"></label>
      					<input type="search" id='search' placeholder='输入关键字...'/>
    				</div>
  				</div>
  				<a class="button button-link button-nav pull-right" href="#login">登录</a>
			</header>
			<nav class="bar bar-tab">
				<a class="tab-item" href="#index">
					<span class="fa fa-home"></span>
					<span class="tab-label">筑脸头条</span>
				</a>
				<a class="tab-item" href="#goverment">
					<span class="fa fa-legal"></span>
					<span class="tab-label">政府招标</span>
				</a>
				<a class="tab-item active" href="#user">
					<span class="fa fa-user"></span>
					<span class="tab-label">会员中心</span>
				</a>
			</nav>
			<div class="content">
				<div class="buttons-tab">
					<a href="#user-tab1" class="tab-link active button">头条</a>
					<a class="tab-link button" href="#user-tab2">政府招标</a>
				</div>
				<div class="">
				    <div class="tabs">
				      	<div id="user-tab1" class="tab active">
				        	<div class="content-block index">
				          		<div class="list-block media-list">
									<ul>
										<li>
											<a class="item-link item-content" href="#index-detail">
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">中国建的这些桥，让世界侧目</div>
													</div>
													<div class="item-content-row">
														<div class="types">亿建联</div>
														<div class="time">08-30</div>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="item-media"><img src="img/11.jpg" style='width: 5rem;'></div>
											</a>
										</li>
									</ul>
								</div>
				        	</div>
				      	</div>
				      	<div id="user-tab2" class="tab">
				        	<div class="content-block goverment">
				          		<div class="list-block media-list">
									<ul>
										<li>
											<a class="item-link item-content" href="#index-detail">
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title">中国建的这些桥，让世界侧目</div>
													</div>
													<div class="item-content-row">
														<div class="types">亿建联</div>
														<div class="time">08-30</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
				        	</div>
				      	</div>
				    </div>
				</div>
			</div>
		</div>
     </div>

    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="script/swiper-3.4.2.jquery.min.js"></script>
    <script type="text/javascript" src="script/Sortable.min.js"></script>
    <script type="text/javascript" src="script/index.js"></script>
    <script type="text/javascript" src="script/get-data.js"></script>
	<script>
	</script>
  </body>
</html>
